.html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    background: center url("../images/09\ 979562640_resized.jpg");
    background-size: cover;
}